style_2.css
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#082331eb;
}

.navbar-brand{
font-size:30px;
}

.hero{

height:100vh;

background:url("../images/hero.jpg");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

justify-content:center;

color:rgb(254, 252, 252);

text-align:center;

}

.hero h1{

font-size:60px;

font-weight:bold;

text-shadow:2px 2px 10px rgba(248, 246, 246, 0.941);

}

.hero p{

font-size:25px;

margin:20px 0;

}

.card{

transition:.4s;

margin-bottom:20px;

}

.card:hover{

transform:translateY(-10px);

}

footer{

background:#0f1012;

color:rgba(240, 235, 235, 0.911);

padding:30px;

margin-top:50px;

text-align:center;

}

.btn-warning{

font-size:20px;

padding:12px 30px;

}